<div class="container">
  <div class="row">
      <div
        *ngIf="rateChecked">
        <h3>Đánh giá ({{listRate.length}})</h3>
        {{rateChecked}}/5
        <span class="fa fa-star checked"></span>
      </div>

    <div class="property-description">
        <h3 class="desc-headline">Comment</h3>

        <div class="listing-item" *ngFor="let c of listCmt , index as i">
          {{c.appUser?.fullName}}:
          <br>
          -{{c.comment}}
        </div>
      <div >
        <nav >
          <ul >
            <li ><button (click)="firtPage()">Đầu</button></li>
            <li ><button  (click)="prviousPage()">Trang trước</button></li>
            <!--                    <li class="page-item active"><a class="page-link" href="#">1</a></li>-->
            <li >
              <!--                        <input class="form-control shadow-none rounded-0" type="text" placeholder="2/5">-->
              <div>
                <input type="number" min="1" [max]="totalPagination"
                       placeholder="2" aria-label="Username"
                       aria-describedby="basic-addon1" [value]="indexPagination">
                <div >
                  <span  id="basic-addon1">{{totalPagination}}</span>
                </div>
              </div>
            </li>
            <li ><button  (click)="nextPage()">Trang kế</button></li>
            <li ><button  (click)="lastPage()">Cuối</button></li>
          </ul>
        </nav>
      </div>
        <div>
            <textarea type="text" name="name" class="form-control mb-2 mr-sm-2" style="border-radius: 30px"
                      placeholder="Viết bình luận ..." [(ngModel)]="comment.comment"></textarea>
        </div>
        <div>
          <button type="button" class="btn btn-primary mb-2" (click)="createCommentHouse()">Đăng</button>
        </div>


        <div class="layout-switcher hidden"><a href="#" class="list"><i class="fa fa-th-list"></i></a></div>
        <div class="listings-container list-layout">

          <div class="listing-item">

          </div>
          <div class="listing-item">
            <div class="listing-content">
            </div>
          </div>
        </div>
      </div>

    <h3 class="desc-headline">Rate</h3>

    <div>
      <input type="number" name="name"
             [(ngModel)]="rate.star" min="1" max="5">
    </div>
    <div>
      <button type="button" class="btn btn-primary mb-2" (click)="createRateHouse()">Chọn</button>
    </div>
  </div>
</div>
