<!-- Wrapper -->
<div id="wrapper">


  <!-- Compare Properties Widget
  ================================================== -->
  <div class="compare-slide-menu">

    <div class="csm-trigger"></div>

    <div class="csm-content">
      <h4>Compare Properties <div class="csm-mobile-trigger"></div></h4>

      <div class="csm-properties">

        <!-- Property -->
        <div class="listing-item compact">
          <a href="single-property-page-2.html" class="listing-img-container">
            <div class="remove-from-compare"><i class="fa fa-close"></i></div>
            <div class="listing-badges">
              <span>For Sale</span>
            </div>
            <div class="listing-img-content">
              <span class="listing-compact-title">Eagle Apartments <i>$420,000</i></span>
            </div>
            <img src="assets/images/listing-01.jpg" alt="">
          </a>
        </div>

        <!-- Property -->
        <div class="listing-item compact">
          <a href="single-property-page-2.html" class="listing-img-container">
            <div class="remove-from-compare"><i class="fa fa-close"></i></div>
            <div class="listing-badges">
              <span>For Sale</span>
            </div>
            <div class="listing-img-content">
              <span class="listing-compact-title">Selway Apartments <i>$420,000</i></span>
            </div>
            <img src="assets/images/listing-03.jpg" alt="">
          </a>
        </div>

        <!-- Property -->
        <div class="listing-item compact">
          <a href="single-property-page-2.html" class="listing-img-container">
            <div class="remove-from-compare"><i class="fa fa-close"></i></div>
            <div class="listing-badges">
              <span>For Sale</span>
            </div>
            <div class="listing-img-content">
              <span class="listing-compact-title">Oak Tree Villas <i>$535,000</i></span>
            </div>
            <img src="assets/images/listing-05.jpg" alt="">
          </a>
        </div>

      </div>

      <div class="csm-buttons">
        <a href="compare-properties.html" class="button">Compare</a>
        <a href="#" class="button reset">Reset</a>
      </div>
    </div>

  </div>
  <!-- Compare Properties Widget / End -->

<app-header></app-header>

  <!-- Search
  ================================================== -->

<app-search-house (listChanged)="getAllHouse($event)"></app-search-house>



  <!-- Content
  ================================================== -->
  <div class="container">
    <div class="row fullwidth-layout">

      <div class="col-md-12">

        <!-- Sorting / Layout Switcher -->
        <div class="row margin-bottom-15">

          <div class="col-md-6">
            <!-- Sort by -->
            <div class="sort-by">
              <label>Sort by:</label>

              <div class="sort-by-select">
                <select data-placeholder="Default order" class="chosen-select-no-single" >
                  <option>Default Order</option>
                  <option>Price Low to High</option>
                  <option>Price High to Low</option>
                  <option>Newest Properties</option>
                  <option>Oldest Properties</option>
                </select>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <!-- Layout Switcher -->
            <div class="layout-switcher">
              <a href="#" class="grid-three"><i class="fa fa-th"></i></a>
              <a href="#" class="grid"><i class="fa fa-th-large"></i></a>
              <a href="#" class="list"><i class="fa fa-th-list"></i></a>
            </div>
          </div>
        </div>


        <!-- Listings -->
        <div class="listings-container grid-layout-three">

          <!-- Listing Item -->
          <div class="listing-item" *ngFor="let h of listHouse">

            <a [routerLink]="'/house-detail/' + h.id" class="listing-img-container">

              <div class="listing-badges">
                <span class="featured">Featured</span>
                <span>For Sale</span>
              </div>

              <div class="listing-img-content">
                <span class="listing-price">{{h.priceByDay}} VND/Day</span>
                <span class="like-icon with-tip" data-tip-content="Add to Bookmarks"></span>
                <span class="compare-button with-tip" data-tip-content="Add to Compare"></span>
              </div>

              <div class="listing-carousel">
                <div><img src="{{h.avatar}}" alt=""></div>
              </div>
            </a>

            <div class="listing-content">

              <div class="listing-title">
                <h4><a [routerLink]="'/house-detail/' + h.id">{{h.name}}</a></h4>
                <a [routerLink]="'/house-detail/' + h.id" class="details button border">Details</a>
              </div>

              <ul class="listing-details">
                <li>{{h.bedRoom}}Bedroom</li>
                <li>{{h.bathRoom}} Bathroom</li>
              </ul>
            </div>

          </div>
          <!-- Listing Item / End -->

        </div>
        <!-- Listings Container / End -->

        <div class="clearfix"></div>
        <!-- Pagination -->
        <div class="pagination-container margin-top-20">
          <nav class="pagination">
            <ul>
              <li><a href="#" class="current-page">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li class="blank">...</li>
              <li><a href="#">22</a></li>
            </ul>
          </nav>

          <nav class="pagination-next-prev">
            <ul>
              <li><a href="#" class="prev">Previous</a></li>
              <li><a href="#" class="next">Next</a></li>
            </ul>
          </nav>
        </div>
        <!-- Pagination / End -->

      </div>

    </div>
  </div>


  <!-- Footer
  ================================================== -->
  <div class="margin-top-55"></div>

  <div id="footer" class="sticky-footer">
    <!-- Main -->
    <div class="container">
      <div class="row">
        <div class="col-md-5 col-sm-6">
          <img class="footer-logo" src="assets/images/logo.png" alt="">
          <br><br>
          <p>Morbi convallis bibendum urna ut viverra. Maecenas quis consequat libero, a feugiat eros. Nunc ut lacinia tortor morbi ultricies laoreet ullamcorper phasellus semper.</p>
        </div>

        <div class="col-md-4 col-sm-6 ">
          <h4>Helpful Links</h4>
          <ul class="footer-links">
            <li><a href="#">Login</a></li>
            <li><a href="#">Sign Up</a></li>
            <li><a href="#">My Account</a></li>
            <li><a href="#">Add Property</a></li>
            <li><a href="#">Pricing</a></li>
            <li><a href="#">Privacy Policy</a></li>
          </ul>

          <ul class="footer-links">
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Our Agents</a></li>
            <li><a href="#">How It Works</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
          <div class="clearfix"></div>
        </div>

        <div class="col-md-3  col-sm-12">
          <h4>Contact Us</h4>
          <div class="text-widget">
            <span>12345 Little Lonsdale St, Melbourne</span> <br>
            Phone: <span>(123) 123-456 </span><br>
            E-Mail:<span> <a href="#">office@example.com</a> </span><br>
          </div>

          <ul class="social-icons margin-top-20">
            <li><a class="facebook" href="#"><i class="icon-facebook"></i></a></li>
            <li><a class="twitter" href="#"><i class="icon-twitter"></i></a></li>
            <li><a class="gplus" href="#"><i class="icon-gplus"></i></a></li>
            <li><a class="vimeo" href="#"><i class="icon-vimeo"></i></a></li>
          </ul>

        </div>

      </div>

      <!-- Copyright -->
      <div class="row">
        <div class="col-md-12">
          <div class="copyrights">© 2016 Findeo. All Rights Reserved.</div>
        </div>
      </div>

    </div>

  </div>
  <!-- Footer / End -->


  <!-- Back To Top Button -->
  <div id="backtotop"><a href="#"></a></div>
</div>
<!-- Wrapper / End -->

