<div class="col-md-4">
  <div class="sidebar left">

    <div class="my-account-nav-container">

      <ul class="my-account-nav">
        <li class="sub-nav-title">Manage Account</li>
        <li><a routerLink="/my-profile"><i class="sl sl-icon-user"></i> My Profile</a></li>
        <li><a routerLink="/my-order"><i class="sl sl-icon-star"></i>My Order</a></li>
      </ul>

      <ul class="my-account-nav">
        <li class="sub-nav-title">Manage Listings</li>
        <li><a routerLink="/my-house"><i class="sl sl-icon-docs"></i> My House</a></li>
        <li><a routerLink="/create-house"><i class="sl sl-icon-action-redo"></i> Submit New House</a></li>
        <li><a routerLink="/history-order"><i class="sl sl-icon-action-redo"></i> History Order</a></li>
      </ul>

      <ul class="my-account-nav">
        <li><a routerLink="/change-password"  class="current"><i class="sl sl-icon-lock"></i> Change Password</a></li>
      </ul>

    </div>

  </div>
</div>
