<!-- Wrapper -->
<div id="wrapper">


  <!-- Compare Properties Widget
  ================================================== -->
  <div class="compare-slide-menu">

    <div class="csm-trigger"></div>

    <div class="csm-content">
      <h4>Compare Properties <div class="csm-mobile-trigger"></div></h4>

      <div class="csm-properties">

        <!-- Property -->
        <div class="listing-item compact">
          <a href="single-property-page-2.html" class="listing-img-container">
            <div class="remove-from-compare"><i class="fa fa-close"></i></div>
            <div class="listing-badges">
              <span>For Sale</span>
            </div>
            <div class="listing-img-content">
              <span class="listing-compact-title">Eagle Apartments <i>$420,000</i></span>
            </div>
            <img src="assets/images/listing-01.jpg" alt="">
          </a>
        </div>

        <!-- Property -->
        <div class="listing-item compact">
          <a href="single-property-page-2.html" class="listing-img-container">
            <div class="remove-from-compare"><i class="fa fa-close"></i></div>
            <div class="listing-badges">
              <span>For Sale</span>
            </div>
            <div class="listing-img-content">
              <span class="listing-compact-title">Selway Apartments <i>$420,000</i></span>
            </div>
            <img src="assets/images/listing-03.jpg" alt="">
          </a>
        </div>

        <!-- Property -->
        <div class="listing-item compact">
          <a href="single-property-page-2.html" class="listing-img-container">
            <div class="remove-from-compare"><i class="fa fa-close"></i></div>
            <div class="listing-badges">
              <span>For Sale</span>
            </div>
            <div class="listing-img-content">
              <span class="listing-compact-title">Oak Tree Villas <i>$535,000</i></span>
            </div>
            <img src="assets/images/listing-05.jpg" alt="">
          </a>
        </div>

      </div>

      <div class="csm-buttons">
        <a href="compare-properties.html" class="button">Compare</a>
        <a href="#" class="button reset">Reset</a>
      </div>
    </div>

  </div>
  <!-- Compare Properties Widget / End -->

  <app-header></app-header>

  <!-- Titlebar
  ================================================== -->
  <div id="titlebar" class="submit-page">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2><i class="fa fa-plus-circle"></i> Add House</h2>
        </div>
      </div>
    </div>
  </div>


  <!-- Content
  ================================================== -->

  <form (ngSubmit)="createHouse()">
    <div class="container">
      <div class="row">
        <!-- Submit Page -->
        <div class="col-md-12">
          <div class="submit-page">
            <!-- Section -->
            <h3>Basic Information</h3>
            <div class="submit-section">

              <!-- Title -->
              <div class="example-container">
                <h5>House's Name</h5>
                <input [(ngModel)]="house.name" id="name" formControlName="name" name="name"/>
              </div>
              <!-- Row -->
              <div class="row with-forms">

                <!-- Status -->
                <div class="col-md-6">
                  <h5>House's Status</h5>
                  <select  [(ngModel)]="house.houseStatus.id" name="houseStatus" id="houseStatus">
                    <option *ngFor="let s of listHouseStatus" [value]="s.id">{{s.name}}</option>
                  </select>
                </div>

                <!-- Type -->
                <div class="col-md-6">
                  <h5>House's Type</h5>
                  <select [(ngModel)]="house.houseType.id" name="houseType" id="houseType">
                    <option *ngFor="let t of listHouseType" [value] = "t.id">{{t.name}}</option>
                  </select>
                </div>

              </div>
              <!-- Row / End -->


              <!-- Row -->
              <div class="row with-forms">

                <!-- Price -->
                <div class="col-md-4">
                  <h5>Price per day</h5>
                  <div class="select-input disabled-first-option">
                    <input type="text" data-unit="VND" [(ngModel)]="house.priceByDay" name="priceByDay" id="priceByDay">
                  </div>
                </div>
              </div>
              <!-- Row / End -->

            </div>
            <!-- Section / End -->


            <!-- Section -->
            <h3>Avatar</h3>
            <app-upload-file (press)="getImageUrls($event)"></app-upload-file>
            <!-- Section / End -->


            <!-- Section -->
            <h3>Location</h3>
            <div class="submit-section">

              <!-- Row -->
              <div class="row with-forms">

                <!-- Address -->
                <div class="col-md-6">
                  <h5>Address</h5>
                  <input type="text" [(ngModel)]="house.address" name="address">
                </div>

                <div>
                  <!-- City -->
                  <div class="col-md-6">
                    <h5>City / Province</h5>
                    <select (change)="selectChangeHandlerProvince($event)" [(ngModel)]="house.village.district.province.id" name="province">
                      <option value="0">--Select--</option>
                      <option *ngFor="let p of listProvince" [value]="p.id">{{p.name}}</option>
                    </select>
                  </div>

                  <!-- District -->
                  <div class="col-md-6">
                    <h5>District</h5>
                    <select (change)="selectChangeHandlerDistrict($event)" [(ngModel)]="house.village.district.id" name="district">
                      <option *ngIf="house.village.district.province.id == 0" value="0">--Select--</option>
                      <option *ngFor="let d of listDistrict" [value]="d.id">{{d.name}}</option>
                    </select>
                  </div>

                  <!-- Town -->
                  <div class="col-md-6">
                    <h5>Town</h5>
                    <select [(ngModel)]="house.village.id" name="village">
                      <option *ngIf="house.village.district.id == 0" value="0">--Select--</option>
                      <option *ngFor="let v of listVillage" [value]="v.id">{{v.name}}</option>
                    </select>
                  </div>
                </div>

              </div>
              <!-- Row / End -->

            </div>
            <!-- Section / End -->


            <!-- Section -->
            <h3>Detailed Information</h3>
            <div class="submit-section">

              <!-- Description -->
              <div class="form">
                <h5>Description</h5>
                <textarea class="WYSIWYG" name="summary" cols="40" rows="3" id="summary" spellcheck="true" [(ngModel)]="house.description"></textarea>
              </div>

              <!-- Row -->
              <div class="row with-forms">
                <!-- Beds -->
                <div class="col-md-4">
                  <h5>Bedrooms</h5>
                  <select [(ngModel)]="house.bedRoom" name="badRoom">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                  </select>
                </div>

                <!-- Baths -->
                <div class="col-md-4">
                  <h5>Bathrooms</h5>
                  <select [(ngModel)]="house.bathRoom" name="bathRoom">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                  </select>
                </div>

              </div>
              <!-- Row / End -->
            </div>
            <!-- Section / End -->
            <div class="divider"></div>
            <button href="#" class="button preview margin-top-5">Create <i class="fa fa-arrow-circle-right"></i></button>

          </div>
        </div>

      </div>
    </div>
  </form>
  <!-- Footer
  ================================================== -->
  <div class="margin-top-55"></div>

  <div id="footer" class="sticky-footer">
    <!-- Main -->
    <div class="container">
      <div class="row">
        <div class="col-md-5 col-sm-6">
          <img class="footer-logo" src="assets/images/logo.png" alt="">
          <br><br>
          <p>Morbi convallis bibendum urna ut viverra. Maecenas quis consequat libero, a feugiat eros. Nunc ut lacinia tortor morbi ultricies laoreet ullamcorper phasellus semper.</p>
        </div>

        <div class="col-md-4 col-sm-6 ">
          <h4>Helpful Links</h4>
          <ul class="footer-links">
            <li><a href="#">Login</a></li>
            <li><a href="#">Sign Up</a></li>
            <li><a href="#">My Account</a></li>
            <li><a href="#">Add Property</a></li>
            <li><a href="#">Pricing</a></li>
            <li><a href="#">Privacy Policy</a></li>
          </ul>

          <ul class="footer-links">
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Our Agents</a></li>
            <li><a href="#">How It Works</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
          <div class="clearfix"></div>
        </div>

        <div class="col-md-3  col-sm-12">
          <h4>Contact Us</h4>
          <div class="text-widget">
            <span>12345 Little Lonsdale St, Melbourne</span> <br>
            Phone: <span>(123) 123-456 </span><br>
            E-Mail:<span> <a href="#">office@example.com</a> </span><br>
          </div>

          <ul class="social-icons margin-top-20">
            <li><a class="facebook" href="#"><i class="icon-facebook"></i></a></li>
            <li><a class="twitter" href="#"><i class="icon-twitter"></i></a></li>
            <li><a class="gplus" href="#"><i class="icon-gplus"></i></a></li>
            <li><a class="vimeo" href="#"><i class="icon-vimeo"></i></a></li>
          </ul>

        </div>

      </div>

      <!-- Copyright -->
      <div class="row">
        <div class="col-md-12">
          <div class="copyrights">© 2016 Findeo. All Rights Reserved.</div>
        </div>
      </div>

    </div>

  </div>
  <!-- Footer / End -->


  <!-- Back To Top Button -->
  <div id="backtotop"><a href="#"></a></div>
</div>
<!-- Wrapper / End -->
