<!-- Wrapper -->
<div id="wrapper">
  <!-- Header Container
  ================================================== -->
  <app-header></app-header>
  <!-- Header Container / End -->


  <!-- Banner
  ================================================== -->
  <div class="parallax" data-background="https://i.pinimg.com/originals/68/ae/cc/68aecc196d9f0d49a064c0abcb26a8ec.jpg" data-color="#36383e" data-color-opacity="0.45" data-img-width="2500" data-img-height="1600">
    <div class="parallax-content">

      <div class="container">
        <div class="row">
          <div class="col-md-12">

            <!-- Main Search Container -->
            <div class="main-search-container">
              <h2>Find Your Dream Home</h2>

              <!-- Main Search -->
              <form class="main-search-form">

                <!-- Type -->
                <div class="search-type">
                  <label class="active"><input class="first-tab" name="tab" checked="checked" type="radio">Any Status</label>
                  <label><input name="tab" type="radio">For Sale</label>
                  <label><input name="tab" type="radio">For Rent</label>
                  <div class="search-type-arrow"></div>
                </div>


                <!-- Box -->
                <div class="main-search-box">

                  <!-- Main Search Input -->
                  <div class="main-search-input larger-input">
                    <input type="text" class="ico-01" id="autocomplete-input" placeholder="Enter address e.g. street, city and state or zip" value=""/>
                    <button class="button">Search</button>
                  </div>

                  <!-- Row -->
                  <div class="row with-forms">

                    <!-- Property Type -->
                    <div class="col-md-4">
                      <select data-placeholder="Any Type" class="chosen-select-no-single" >
                        <option>Any Type</option>
                        <option>Apartments</option>
                        <option>Houses</option>
                        <option>Commercial</option>
                        <option>Garages</option>
                        <option>Lots</option>
                      </select>
                    </div>


                    <!-- Min Price -->
                    <div class="col-md-4">

                      <!-- Select Input -->
                      <div class="select-input">
                        <input type="text" placeholder="Min Price" data-unit="USD">
                      </div>
                      <!-- Select Input / End -->

                    </div>


                    <!-- Max Price -->
                    <div class="col-md-4">

                      <!-- Select Input -->
                      <div class="select-input">
                        <input type="text" placeholder="Max Price" data-unit="USD">
                      </div>
                      <!-- Select Input / End -->

                    </div>

                  </div>
                  <!-- Row / End -->


                  <!-- More Search Options -->
                  <a href="#" class="more-search-options-trigger" data-open-title="More Options" data-close-title="Less Options"></a>

                  <div class="more-search-options">
                    <div class="more-search-options-container">

                      <!-- Row -->
                      <div class="row with-forms">

                        <!-- Min Price -->
                        <div class="col-md-6">

                          <!-- Select Input -->
                          <div class="select-input">
                            <input type="text" placeholder="Min Area" data-unit="Sq Ft">
                          </div>
                          <!-- Select Input / End -->

                        </div>

                        <!-- Max Price -->
                        <div class="col-md-6">

                          <!-- Select Input -->
                          <div class="select-input">
                            <input type="text" placeholder="Max Area" data-unit="Sq Ft">
                          </div>
                          <!-- Select Input / End -->

                        </div>

                      </div>
                      <!-- Row / End -->


                      <!-- Row -->
                      <div class="row with-forms">

                        <!-- Min Area -->
                        <div class="col-md-6">
                          <select data-placeholder="Beds" class="chosen-select-no-single" >
                            <option label="blank"></option>
                            <option>Beds (Any)</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                          </select>
                        </div>

                        <!-- Max Area -->
                        <div class="col-md-6">
                          <select data-placeholder="Baths" class="chosen-select-no-single" >
                            <option label="blank"></option>
                            <option>Baths (Any)</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                          </select>
                        </div>

                      </div>
                      <!-- Row / End -->


                      <!-- Checkboxes -->
                      <div class="checkboxes in-row">

                        <input id="check-2" type="checkbox" name="check">
                        <label for="check-2">Air Conditioning</label>

                        <input id="check-3" type="checkbox" name="check">
                        <label for="check-3">Swimming Pool</label>

                        <input id="check-4" type="checkbox" name="check" >
                        <label for="check-4">Central Heating</label>

                        <input id="check-5" type="checkbox" name="check">
                        <label for="check-5">Laundry Room</label>


                        <input id="check-6" type="checkbox" name="check">
                        <label for="check-6">Gym</label>

                        <input id="check-7" type="checkbox" name="check">
                        <label for="check-7">Alarm</label>

                        <input id="check-8" type="checkbox" name="check">
                        <label for="check-8">Window Covering</label>

                      </div>
                      <!-- Checkboxes / End -->

                    </div>
                  </div>
                  <!-- More Search Options / End -->


                </div>
                <!-- Box / End -->

              </form>
              <!-- Main Search -->

            </div>
            <!-- Main Search Container / End -->

          </div>
        </div>
      </div>

    </div>
  </div>


  <!-- Content
  ================================================== -->
  <div class="container">
    <div class="row">

      <div class="col-md-12">
        <h3 class="headline margin-bottom-25 margin-top-65">Newly Added</h3>
      </div>

      <!-- Carousel -->
      <div class="col-md-12">
        <div class="carousel">
          <!-- Listing Item -->
          <div class="carousel-item" *ngFor="let h of listHouse | slice:0:4">
            <div class="listing-item">

              <a href="single-property-page-1.html" class="listing-img-container">

                <div class="listing-badges">
                  <span class="featured">Featured</span>
                  <span>For Sale</span>
                </div>

                <div class="listing-img-content">
                  <span class="listing-price">{{h?.priceByDay}} VND/Day<i>{{h.village?.name}} - {{h.village?.district?.name}} - {{h.village?.district?.province?.name}}</i></span>
                  <span class="like-icon with-tip" data-tip-content="Add to Bookmarks"></span>
                  <span class="compare-button with-tip" data-tip-content="Add to Compare"></span>
                </div>

                <div class="listing-carousel">
                  <div><img src="assets/images/listing-01.jpg" alt=""></div>
                  <div><img src="assets/images/listing-01b.jpg" alt=""></div>
                  <div><img src="assets/images/listing-01c.jpg" alt=""></div>
                </div>

              </a>

              <div class="listing-content">

                <div class="listing-title">
                  <h4><a routerLink="house-detail/{{h.id}}">{{h.name}}</a></h4>
                  <a href="https://maps.google.com/maps?q=221B+Baker+Street,+London,+United+Kingdom&hl=en&t=v&hnear=221B+Baker+St,+London+NW1+6XE,+United+Kingdom" class="listing-address popup-gmaps">
                    <i class="fa fa-map-marker"></i>
                    {{h.village?.name}} - {{h.village?.district?.name}} - {{h.village?.district?.province?.name}}
                  </a>
                </div>

                <ul class="listing-features">
                  <li>Type <span>{{h.houseType?.name}}</span></li>
                  <li>Bedrooms <span>{{h?.bedRoom}}</span></li>
                  <li>Bathrooms <span>{{h?.bathRoom}}</span></li>
                </ul>
              </div>

            </div>
          </div>
          <!-- Listing Item / End -->
        </div>
      </div>
      <!-- Carousel / End -->

    </div>
  </div>



  <!-- Fullwidth Section -->
  <section class="fullwidth margin-top-105" data-background-color="#f7f7f7">

    <!-- Box Headline -->
    <h3 class="headline-box">What are you looking for?</h3>

    <!-- Content -->
    <div class="container">
      <div class="row">

        <div class="col-md-3 col-sm-6">
          <!-- Icon Box -->
          <div class="icon-box-1">

            <div class="icon-container">
              <i class="im im-icon-Office"></i>
              <div class="icon-links">
                <a href="listings-grid-standard-with-sidebar.html">For Sale</a>
                <a href="listings-grid-standard-with-sidebar.html">For Rent</a>
              </div>
            </div>

            <h3>Apartments</h3>
            <p>Aliquam dictum elit vitae mauris facilisis, at dictum urna dignissim donec vel lectus vel felis.</p>
          </div>
        </div>

        <div class="col-md-3 col-sm-6">
          <!-- Icon Box -->
          <div class="icon-box-1">

            <div class="icon-container">
              <i class="im im-icon-Home-2"></i>
              <div class="icon-links">
                <a href="listings-grid-standard-with-sidebar.html">For Sale</a>
                <a href="listings-grid-standard-with-sidebar.html">For Rent</a>
              </div>
            </div>

            <h3>Houses</h3>
            <p>Aliquam dictum elit vitae mauris facilisis, at dictum urna dignissim donec vel lectus vel felis.</p>
          </div>
        </div>

        <div class="col-md-3 col-sm-6">
          <!-- Icon Box -->
          <div class="icon-box-1">

            <div class="icon-container">
              <i class="im im-icon-Car-3"></i>
              <div class="icon-links">
                <a href="listings-grid-standard-with-sidebar.html">For Sale</a>
                <a href="listings-grid-standard-with-sidebar.html">For Rent</a>
              </div>
            </div>

            <h3>Garages</h3>
            <p>Aliquam dictum elit vitae mauris facilisis, at dictum urna dignissim donec vel lectus vel felis.</p>
          </div>
        </div>

        <div class="col-md-3 col-sm-6">
          <!-- Icon Box -->
          <div class="icon-box-1">

            <div class="icon-container">
              <i class="im im-icon-Clothing-Store"></i>
              <div class="icon-links">
                <a href="listings-grid-standard-with-sidebar.html">For Sale</a>
                <a href="listings-grid-standard-with-sidebar.html">For Rent</a>
              </div>
            </div>

            <h3>Commercial</h3>
            <p>Aliquam dictum elit vitae mauris facilisis, at dictum urna dignissim donec vel lectus vel felis.</p>
          </div>
        </div>

      </div>
    </div>
  </section>
  <!-- Fullwidth Section / End -->


  <!-- Container -->
  <div class="container">
    <div class="row">

      <div class="col-md-12">
        <h3 class="headline centered margin-bottom-35 margin-top-10">Most Popular Places <span>Properties In Most Popular Places</span></h3>
      </div>

      <div class="col-md-4">

        <!-- Image Box -->
        <a href="listings-list-with-sidebar.html" class="img-box" data-background-image="https://wallpaperaccess.com/full/2918304.jpg">

          <!-- Badge -->
          <div class="listing-badges">
            <span class="featured">Featured</span>
          </div>

          <div class="img-box-content visible">
            <h4>Hà Nội</h4>
            <span>14 Properties</span>
          </div>
        </a>

      </div>

      <div class="col-md-8">

        <!-- Image Box -->
        <a href="listings-list-with-sidebar.html" class="img-box" data-background-image="https://wallpapercave.com/wp/UZlSakf.jpg">
          <div class="img-box-content visible">
            <h4>Vĩnh Phúc</h4>
            <span>24 Properties</span>
          </div>
        </a>

      </div>

      <div class="col-md-8">

        <!-- Image Box -->
        <a href="listings-list-with-sidebar.html" class="img-box" data-background-image="https://www.teahub.io/photos/full/219-2193212_wallpaper-maldives-tropical-resort-evening-maldives-wallpaper-hd.jpg">
          <div class="img-box-content visible">
            <h4>Đà Lạt</h4>
            <span>12 Properties</span>
          </div>
        </a>

      </div>

      <div class="col-md-4">

        <!-- Image Box -->
        <a href="listings-list-with-sidebar.html" class="img-box" data-background-image="https://images.alphacoders.com/269/269623.jpg">
          <div class="img-box-content visible">
            <h4>Vũng Tàu</h4>
            <span>9 Properties</span>
          </div>
        </a>

      </div>

    </div>
  </div>
  <!-- Container / End -->


  <!-- Fullwidth Section -->
  <section class="fullwidth margin-top-95 margin-bottom-0">

    <!-- Box Headline -->
    <h3 class="headline-box">Articles & Tips</h3>

    <div class="container">
      <div class="row">

        <div class="col-md-4">

          <!-- Blog Post -->
          <div class="blog-post">

            <!-- Img -->
            <a href="https://doanhnhanplus.vn/du-lich" class="post-img">
              <img src="https://cdn.wallpapersafari.com/7/64/8EoGTQ.jpg" alt="">
            </a>

            <!-- Content -->
            <div class="post-content">
              <h3>3 ngày 2 đêm khám phá hang động Pygmy ở Quảng Bình</h3>
              <p>Pygmy (Quảng Bình) được hiệp hội Hang động Hoàng gia Anh (BCRA) công nhận là hang động lớn thứ 4 trên thế giới</p>

              <a href="https://zingnews.vn/3-ngay-2-dem-kham-pha-hang-dong-pygmy-o-quang-binh-post1203944.html" class="read-more">Read More <i class="fa fa-angle-right"></i></a>
            </div>

          </div>
          <!-- Blog Post / End -->

        </div>

        <div class="col-md-4">

          <!-- Blog Post -->
          <div class="blog-post">

            <!-- Img -->
            <a href="https://doanhnhanplus.vn/du-lich" class="post-img">
              <img src="https://data.1freewallpapers.com/download/resort-with-pool-and-hut-near-beach-4k-nature.jpg" alt="">
            </a>

            <!-- Content -->
            <div class="post-content">
              <h3>Du lịch Nha Trang 4 ngày 3 đêm với 15 triệu đồng/người</h3>
              <p>Nhờ thời tiết mát mẻ, nhiều bãi biển đẹp, Nha Trang (Khánh Hòa) là điểm đến được du khách lựa chọn dịp hè.</p>

              <a href="https://zingnews.vn/du-lich-nha-trang-4-ngay-3-dem-voi-15-trieu-dongnguoi-post1206355.html" class="read-more">Read More <i class="fa fa-angle-right"></i></a>
            </div>

          </div>
          <!-- Blog Post / End -->

        </div>

        <div class="col-md-4">

          <!-- Blog Post -->
          <div class="blog-post">

            <!-- Img -->
            <a href="https://doanhnhanplus.vn/du-lich" class="post-img">
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRE2gXFbztcJpMfxMgIb3_DEXN9FzflWM6ZLA&usqp=CAU" alt="">
            </a>

            <!-- Content -->
            <div class="post-content">
              <h3>Hòn đảo gần Bali, phong cảnh hoang sơ lại có hình dáng như khủng long</h3>
              <p>Những nơi càng khó đi, ít người biết đến đương nhiên sẽ giữ được vẻ đẹp hoang sơ, tinh khiết tuyệt đẹp như hòn đảo này.</p>

              <a href="https://www.baogiaothong.vn/hon-dao-gan-bali-phong-canh-hoang-so-lai-co-hinh-dang-nhu-khung-long-d457892.html" class="read-more">Read More <i class="fa fa-angle-right"></i></a>
            </div>

          </div>
          <!-- Blog Post / End -->

        </div>

      </div>
    </div>
  </section>
  <!-- Fullwidth Section / End -->


  <!-- Flip banner -->
  <a href="listings-half-map-grid-standard.html" class="flip-banner parallax" data-background="assets/images/flip-banner-bg.jpg" data-color="#274abb" data-color-opacity="0.9" data-img-width="2500" data-img-height="1600">
    <div class="flip-banner-content">
      <h2 class="flip-visible">We help people and homes find each other</h2>
      <h2 class="flip-hidden">Browse Properties <i class="sl sl-icon-arrow-right"></i></h2>
    </div>
  </a>
  <!-- Flip banner / End -->




  <!-- Footer
  ================================================== -->
  <div id="footer" class="sticky-footer">
    <!-- Main -->
    <div class="container">
      <div class="row">
        <div class="col-md-5 col-sm-6">
          <img class="footer-logo" src="images/logo.png" alt="">
          <br><br>
          <p>Morbi convallis bibendum urna ut viverra. Maecenas quis consequat libero, a feugiat eros. Nunc ut lacinia tortor morbi ultricies laoreet ullamcorper phasellus semper.</p>
        </div>

        <div class="col-md-4 col-sm-6 ">
          <h4>Helpful Links</h4>
          <ul class="footer-links">
            <li><a href="#">Login</a></li>
            <li><a href="#">Sign Up</a></li>
            <li><a href="#">My Account</a></li>
            <li><a href="#">Add Property</a></li>
            <li><a href="#">Pricing</a></li>
            <li><a href="#">Privacy Policy</a></li>
          </ul>

          <ul class="footer-links">
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Our Agents</a></li>
            <li><a href="#">How It Works</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
          <div class="clearfix"></div>
        </div>

        <div class="col-md-3  col-sm-12">
          <h4>Contact Us</h4>
          <div class="text-widget">
            <span>12345 Little Lonsdale St, Melbourne</span> <br>
            Phone: <span>(123) 123-456 </span><br>
            E-Mail:<span> <a href="#">office@example.com</a> </span><br>
          </div>

          <ul class="social-icons margin-top-20">
            <li><a class="facebook" href="#"><i class="icon-facebook"></i></a></li>
            <li><a class="twitter" href="#"><i class="icon-twitter"></i></a></li>
            <li><a class="gplus" href="#"><i class="icon-gplus"></i></a></li>
            <li><a class="vimeo" href="#"><i class="icon-vimeo"></i></a></li>
          </ul>

        </div>

      </div>

      <!-- Copyright -->
      <div class="row">
        <div class="col-md-12">
          <div class="copyrights">© 2016 Findeo. All Rights Reserved.</div>
        </div>
      </div>

    </div>

  </div>
  <!-- Footer / End -->
  <!-- Back To Top Button -->
  <div id="backtotop"><a href="#"></a></div>
</div>
<!-- Wrapper / End -->

